.email-list {
    width: 100%;
    max-width: 250px;
}
.content {
    width: 90%;
}
.item {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    border-bottom: 1px dotted #ecf0f1;
}
.item a {
    color: #ecf0f1;
    text-decoration: none;
}
.header {
    font-weight: bold;
    margin-bottom: 5px;
}
.address {
    font-style: italic;
}
.trim {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    /* white-space: nowrap; */
    /* /* overflow: hidden; */
}