<div class="container  form-container">
    <h3>Create an account</h3>
    <form [formGroup]="authForm">
        <app-input [control]="$any(authForm).get('username')" label="Username"></app-input>
        <app-input [control]="$any(authForm.get('password'))" label="Password" type="password"></app-input>
        <app-input [control]="$any(authForm.get('passwordConfirmation'))" label="Password Confirmation" type="password">
        </app-input>

        <ng-container *ngIf="$any(authForm).get('password').touched && $any(authForm).get('passwordConfirmation').touched && $any(authForm).errors">
            <div *ngIf="$any(authForm).errors['passwordsDontMatch']">
                <hr>
                <p class="error">Passwords don't match!</p>
                <hr>
            </div>
        </ng-container>

        <button class="btn btn-primary">Submit</button>
    </form>

</div>

<!-- {{ authForm.errors | json }} -->