<div class="main-container">

    <div class="navbar">
        <a routerLink="/"><h1 class="logo"> Pigeon</h1></a>
        <nav>
            <ul>
                <ng-container *ngIf="isSignedin$ | async">
                    <li><a routerLink="/inbox" routerLinkActive="active">Inbox</a></li>
                    <li><a routerLink="/signout" routerLinkActive="active">Sign Out</a></li>
                </ng-container>
                <ng-container *ngIf="!(isSignedin$ | async)">
                    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sign
                            In</a></li>
                    <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
                </ng-container>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>

</div>